<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>方法</title>
		<script src="../assets/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<p>今天的起床状态是：{{getLearningState(state)}}</p>
			<hr>
			<!-- <ul>
				<li v-for="s in getStudentAge15()">姓名：{{s.name}}---年龄：{{s.age}}</li>
			</ul> -->
			<hr>
			<ul>
				<li v-for="s in students">姓名：{{s.name}}---年龄：{{s.age}}</li>
			</ul>
			<button type="button" @click="getStudentAge15">过滤掉年龄小于15岁的同学</button>
		</div>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					state:2,
					students: [{
							name: '小明',
							age: 13

						},
						{
							name: '小红',
							age: 14

						},
						{
							name: '小张',
							age: 16

						}
					]
				},
				methods: {
					getLearningState: function(index) {
						const learningState = ['学习', '吃饭', '睡觉', '打豆豆'];
						return learningState[index] || '未知状态';
					},
					getStudentAge15: function() {
						let temp= this.students.filter((n) => n.age > 15);
						console.log(temp);
						this.students=temp;
						return temp;
					}
				}
			})
		</script>
	</body>
</html>
